$pineapple1: #FFCA0A;
$pineapple2: #B3B100;
$pineapple3: #FFFD00;
$pineapple4: #007F10;
$pineapple5: #40B34E;
$lightgray: #B9B9B9;
$darkgray: #505050;

textarea:focus, input:focus {outline: none;}
button {outline:0 !important;}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
%fade{
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .5s; /* Firefox < 16 */
   -ms-animation: fadein .5s; /* Internet Explorer */
    -o-animation: fadein .5s; /* Opera < 12.1 */
       animation: fadein .5s;
}

.app {
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, $pineapple4, $pineapple2);
}

.modal{
  &-overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    @extend %fade;
  }
  &-container{
    width:500px;
    height:400px;
    background-color: #ffffff;
    padding: 30px;
    border-radius:20px;
    position: fixed;
    top: calc(50% - 200px);
    left: calc(50% - 250px);
    text-align: center;
    @extend %fade;
    @media (max-width:520px){
      left:10px;
      width: calc(100% - 20px);
    }
  }
  &-close{
    width:50px;
    height:50px;
    position:fixed;
    bottom:30px;
    left:calc(50% - 25px);
  }
}

.login{
  .modal-container{
    padding:150px 30px 30px;
  }
  &-pinap{
    width:200px;
    height:200px;
    position: absolute;
    left:calc(50% - 100px);
    top: -50px;
  }
  &-inputDiv{
    position: relative;
    margin:15px 0;
  }
  &-icon{
    position: absolute;
    top:8px;
    left:10px;
  }
  input{
    width:100%;
    color: $darkgray;
    border: 1px solid $lightgray;
    border-radius: 10px;
    padding:5px 10px 5px 50px;
    font-size: 15px;
    height:40px;
  }
  button{
    width:100%;
    max-width: 200px;
    height: 50px;
    line-height: 50px;
    margin:10px 0;
    padding:0px;
    border: 0px;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, $pineapple2, $pineapple5);
    color:#ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    &:hover{
      background-image: linear-gradient(to bottom right, $pineapple4, $pineapple5);
    }
  }
  &-alert{
    margin:0;
    color:red;
    @extend %fade;
  }
}

.addEdit{
  h2{
    text-align: center;
    color: $pineapple4;
    font-size:1.5rem;
    margin:0;
  }
  &-label{
    width:100%;
    text-align: left;
    color: $darkgray;
    margin:0;
    font-size:0.75rem;
  }
  input, textarea{
    width:100%;
    text-align: left;
    color: $darkgray;
    border:1px solid $lightgray;
    border-radius:5px;
    padding:5px;
    margin:0 0 5px;
    font-size:0.75rem;
  }
  &-rating{
    width:100%;
    font-size: 2em;
    height:55px;
  }
  button{
    width:100%;
    max-width: 200px;
    height: 40px;
    line-height: 40px;
    margin:0;
    padding:0px;
    border: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, $pineapple2, $pineapple5);
    color:#ffffff;
    font-size:1rem;
    font-weight: bold;
    text-align: center;
    &:hover{
      background-image: linear-gradient(to bottom right, $pineapple4, $pineapple5);
    }
  }
}

.details{
  &-image{
    margin-top:15px;
  }
  h2{
    text-align: center;
    color: $pineapple4;
    font-size:1.5rem;
  }
  p{
    width:100%;
    text-align: center;
    color: $darkgray;
    font-size:1rem;
  }
  &-rating{
    width:100%;
    font-size: 2em;
    height:55px;
  }
}
.delete{
  &-image{
    margin-top:15px;
  }
  p{
    width:100%;
    text-align: center;
    color: $darkgray;
    font-size:1rem;
    margin:30px 0 0;
  }
  h2{
    text-align: center;
    color: $pineapple4;
    font-size:1.5rem;
    margin:0 0 30px;
  }

  button{
    width:100%;
    max-width: 200px;
    height: 40px;
    line-height: 40px;
    margin:0;
    padding:0px;
    border: 0px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom right, $pineapple2, $pineapple5);
    color:#ffffff;
    font-size:1rem;
    font-weight: bold;
    text-align: center;
    &:hover{
      background-image: linear-gradient(to bottom right, $pineapple4, $pineapple5);
    }
  }
}

.notifications{
  .modal-container{
    height:calc(100vh - 20px);
    border-radius:5px;
    top: 10px;
  }
  &-container{
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 7px !important;
      height: 37px !important;
    }
    &::-webkit-scrollbar-track {
      background-color: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $pineapple5;
      border-radius: 5px;
    }
  }
  &-message{
    font-size: 0.75rem;
    padding:10px;
    color: $darkgray;
    border-top:1px solid $lightgray;
    &:first-of-type{
      border-top:0px;
    }
  }
}

.page{
  position: relative;
  max-width:1200px;
  margin: auto;
  min-height: calc(100vh - 20px);
  background-color: #ffffff;
  border-radius:20px;
  padding:70px 15px 15px;
  &-add{
    width:50px;
    height:50px;
    position:absolute;
    left:10px;
    top:10px;
    cursor:pointer;
  }
  &-login{
    position: absolute;
    right:10px;
    top:12px;
    width:100px;
    height: 44px;
    line-height: 44px;
    padding: 0px;
    border: 0px;
    border-radius: 22px;
    background-image: linear-gradient(to bottom right, $pineapple2, $pineapple5);
    color:#ffffff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    &:hover{
      background-image: linear-gradient(to bottom right, $pineapple4, $pineapple5);
    }
  }
  &-notification{
    position: absolute;
    top:10px;
    right: 130px;
    color:$pineapple4;
    font-size: 1rem;
    width:50px;
    height:50px;
    cursor:pointer;
    &-pinap{
      width:50px;
      height:50px;
    }
    span{
      position: absolute;
      right:0px;
      bottom:0px;
      text-align: center;
      display:inline-block;
      width:25px;
      height:25px;
      line-height:25px;
      border-radius: 25px;
      background-color:$pineapple4;
      color:#ffffff;
      font-size: 0.6rem;
    }
  }

  &-table{
    &-options{
      min-width: 115px;
      @media (max-width:560px){
        min-width: 45px;
      }
    }
    &-icon{
      width:25px;
      height:25px;
      margin:0 5px 5px;
      cursor:pointer;
    }
    td{
      vertical-align: middle;
    }
    @media (max-width:560px){
      font-size: 0.75rem;
    }
  }

}